__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store

# VSCode local file history
.history/

# IDE directories
.idea/
.vscode/

# Python build artifacts
*.egg-info/
dist/
build/
__pycache__/
*.pyc
.pytest_cache/
